* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Almost Textual";
  src: url();
}
body {
  background-color: transparent;
}
main {
  height: 100vh;
  /* margin-top: -83px; */
}
.bg {
  background: url("../imgs/@tvchany_.gif") no-repeat center;
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  main img {
    left: 50%;
    margin-left: -512px;
  }
}
