* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Almost Textual";
  src: url();
}
main {
  background-color: rgb(11, 11, 11);
}
main img {
  width: 100%;
  margin: -100px 0 -80px;
  height: auto;
}
