* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 500vh;
  background-color: rgb(206, 179, 179);
}

/* Styles for the stream title */
.title-wrapper {
  margin: 20px 0px 2px;
  display: inline-block;
  background: linear-gradient(
      270deg,
      rgba(54, 169, 214, 0.5) 0%,
      rgba(184, 81, 240, 0.5) 100%
    )
    border-box;
  border-radius: 4rem;
  border: 5px solid transparent;
}

.left,
.right {
  position: relative;
  height: 70px;
  width: 450px;
  float: left;
  font-size: 55px;
  font-weight: normal;
  font-family: "Courier New", Courier;
  background: #36a9d6;
  background: linear-gradient(
    270deg,
    rgba(54, 169, 214, 0.5) 0%,
    rgba(184, 81, 240, 0.5) 100%
  );
  border-radius: 4rem;
  text-align: center;
}

.left span,
.right span {
  display: block;
  padding: 6px 6px 6px 15px;
}
/* Styles for the task list */
.task-list-wrapper {
  border: 5px solid transparent;
  margin: 2px 0 20px;
  width: 320px;
  background: linear-gradient(
      270deg,
      rgba(54, 169, 214, 0.5) 0%,
      rgba(184, 81, 240, 0.5) 100%
    )
    border-box;
  border-radius: 1.5rem;
}

.task-list {
  list-style-type: none;
  border-radius: 1.5rem;
  background: linear-gradient(
    270deg,
    rgba(54, 169, 214, 0.5) 0%,
    rgba(184, 81, 240, 0.5) 100%
  );
}

.task-list li {
  margin: 0;
  padding: 6px 20px;
  color: #ffffff;
  font-family: "Courier New", Courier;
}

.task-list li.active {
  color: #030303;
  background: #2a7b9b;
  background: linear-gradient(
    270deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(247, 247, 188, 1) 100%
  );
}
